<div class="page-wrapper">
 	
  <!-- Preloader -->
  <div class="preloader"></div>
 
  <!-- Main Header-->
  <header class="main-header header-style-one">
  
    <!-- Header Top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="top-outer clearfix">
                  
                  <!--Top Left-->
                  <div class="top-left">
                    <ul class="links clearfix">
                        <!--Language-->
                          <!-- <li class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><span class="flag-img"><img src="../../assets/images/icons/flag.jpg" alt="" /></span>English &nbsp;<span class="fa fa-angle-down"></span></a>
                              <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                  <li><a>English</a></li>
                                  <li><a>German</a></li>
                                  <li><a>Arabic</a></li>
                                  <li><a>Hindi</a></li>
                              </ul>
                          </li> -->
                        <!-- <li><a ><span class="icon fa fa-phone"></span>Talk With Our Spacialist: <strong>+0 625-07520-6644</strong> </a></li>
                          <li><a ><span class="icon"></span>Contact Us</a></li> -->
                      </ul>
                  </div>
                  
                  <!--Top Right-->
                  <div class="top-right clearfix">
                    <ul class="clearfix">
                        <!-- <li><a ><span class="icon flaticon-planet-earth"></span>Free SEO Analysis</a></li> -->
                          <li><a [routerLink]="['/login']"><span class="icon flaticon-user"></span>Login</a> <span>or</span> <a><span class="icon flaticon-upload"></span>Register</a></li>
                          <!--Search Box-->
                          <li class="search-box-outer">
                              <div class="dropdown">
                                  <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                  <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                      <li class="panel-outer">
                                          <div class="form-container">
                                              <form method="post" action="blog.html">
                                                  <div class="form-group">
                                                      <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                      <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                  </div>
                                              </form>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                      </ul>                        
                  </div>
                  
              </div>
              
          </div>
      </div>
      <!-- Header Top End -->
      
      <!-- Main Box -->
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                  <!--Logo Box-->
                  <div class="logo-box">
                      <div class="logo"><a><img src="../../assets/images/PHOTO-2019-03-19-01-54-50.png" width="70" height="50" alt="">America's Marketing & Media Sollutions LLC</a></div>
                  </div>
                  
                  <!--Nav Outer-->
                  <div class="nav-outer clearfix">
                  
                      <!-- Main Menu -->
                      <nav class="main-menu">
                          <div class="navbar-header">
                              <!-- Toggle Button -->    	
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>
                          
                          <div class="navbar-collapse collapse clearfix">
                              <ul class="navigation clearfix">
                                  <li class="current dropdown"><a [routerLink]="['/home']">Home</a>
                                    <!-- <ul>
                                          <li><a href="index.html">Header Style 01</a></li>
                                          <li><a href="index-2.html">Header Style 02</a></li>
                                          <li><a href="index-3.html">Header Style 03</a></li>
                                          <li><a href="index-4.html">Header Style 04</a></li>
                                      </ul> -->
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/home']">Services</a>
                                    <!-- <ul>
                                          <li><a >Search Engine Optimization</a></li>
                                          
                                      </ul> -->
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/aboutcompany']">company</a>
                                    <!-- <ul>
                                          <li><a href="about.html">About Our Company</a></li>
                                          
                                      </ul> -->
                                  </li>
                                  <!-- <li class="dropdown"><a >Case Studies</a>
                                    <ul>
                                          <li><a href="case.html">Case Studies Default</a></li>
                                         
                                      </ul>
                                  </li>
                                  <li><a href="price.html">Pricing</a></li>
                                  <li class="dropdown"><a >Blog</a>
                                    <ul>
                                          <li><a href="blog.html">Blog Default</a></li>
                                        
                                      </ul>
                                  </li> -->
                               </ul>
                          </div>
                      </nav>
                      <!-- Main Menu End-->
                      
                      <!--Outer Box-->
                      <!-- <div class="outer-box">
                          <a class="theme-btn btn-style-one"> <span class="icon flaticon-right-arrow-1"></span> Get a Quote</a>
                      </div> -->
                      
                  </div>
                  <!--Nav Outer End-->
                  
            </div>    
          </div>
      </div>
    
      <!--Sticky Header-->
      <div class="sticky-header">
        <div class="auto-container">
            
              <div class="outer-container clearfix">
                  <!--Logo Box-->
                  <div class="logo-box pull-left">
                      <div class="logo"><a><img src="../../assets/images/PHOTO-2019-03-19-01-54-50.png" width="70" height="50" alt="">America's Marketing & Media Sollutions LLC</a></div>
                  </div>
                  
                  <!--Nav Outer-->
                  <div class="nav-outer clearfix">
                      <!-- Main Menu -->
                      <nav class="main-menu">
                          <div class="navbar-header">
                              <!-- Toggle Button -->    	
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>
                          
                          <div class="navbar-collapse collapse clearfix">
                              <ul class="navigation clearfix">
                                  <li class="current dropdown"><a [routerLink]="['/home']">Home</a>
                                    <!-- <ul>
                                          <li><a href="index.html">Header Style 01</a></li>
                                          <li><a href="index-2.html">Header Style 02</a></li>
                                          <li><a href="index-3.html">Header Style 03</a></li>
                                          <li><a href="index-4.html">Header Style 04</a></li>
                                      </ul> -->
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/home']">Services</a>
                                    <!-- <ul>
                                          <li><a href="services.html">Search Engine Optimization</a></li>
                                          
                                      </ul> -->
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/aboutcompany']">company</a>
                                    <!-- <ul>
                                          <li><a href="about.html">About Our Company</a></li>
                                          <li><a href="seo.html">SEO Analysis</a></li>
                                          <li><a href="mobile-friendly.html">Mobile Friendly Test</a></li>
                                          <li><a href="error-page.html">404 Page</a></li>
                                          <li><a href="quote.html">Get a Quote</a></li>
                                          <li><a href="testimonial.html">Testimonials</a></li>
                                          <li><a href="comming-soon.html">Coming Soon</a></li>
                                          <li><a href="contact.html">Contact Us</a></li>
                                      </ul> -->
                                  </li>
                                  <!-- <li class="dropdown"><a >Case Studies</a>
                                    <ul>
                                          <li><a href="case.html">Case Studies Default</a></li>
                                          <li><a href="cases-text.html">Case Studies Modern</a></li>
                                          <li><a href="cases-single.html">Single Case</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="price.html">Pricing</a></li>
                                  <li class="dropdown"><a >Blog</a>
                                    <ul>
                                          <li><a href="blog.html">Blog Default</a></li>
                                          <li><a href="blog-classic.html">Blog Large Image</a></li>
                                          <li><a href="blog-detail.html">Single Post</a></li>
                                      </ul>
                                  </li> -->
                               </ul>
                          </div>
                      </nav>
                      <!-- Main Menu End-->
                      
                  </div>
                  <!--Nav Outer End-->
                  
            </div>
              
          </div>
      </div>
      <!--End Sticky Header-->
      
  </header>
  <!--End Main Header -->

  <div style="margin-top:13%;">
  <router-outlet></router-outlet>
</div>
  <!--Main Footer-->
  <footer class="main-footer">
    <div class="auto-container">
      
        <!--Widgets Section-->
          <div class="widgets-section">
            <div class="row clearfix">
                
                  <!--Column-->
                  <div class="column col-md-4 col-sm-6 col-xs-12">
          <div class="footer-widget links-widget">
                        <div class="footer-title">
                            <h2>Usefull Links</h2>
                          </div>
                          <div class="widget-content">
                            <div class="row clearfix">
                                <div class="widget-column col-md-6 col-sm-6 col-xs-12">
                                    <ul class="footer-list">
                                        <li><a >About Us</a></li>
                                          <li><a >Our Services</a></li>
                                          <li><a >Why Choose Us</a></li>
                                          <li><a >How It Works</a></li>
                                          <li><a >News & Updates</a></li>
                                      </ul>
                                  </div>
                                  <div class="widget-column col-md-6 col-sm-6 col-xs-12">
                                    <ul class="footer-list">
                                        <li><a >Testimonials</a></li>
                                          <li><a >FAQ’s</a></li>
                                          <li><a >Pricing Plans</a></li>
                                          <li><a >Contact Us</a></li>
                                          <li><a >Privacy Policy</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <!--Column-->
                  <div class="column col-md-4 col-sm-6 col-xs-12">
          <div class="footer-widget subscribe-widget">
                        <div class="footer-title">
                            <h2>Subscribe Us</h2>
                          </div>
                          <div class="widget-content">
                            <div class="text">Subscribe us for recieve latest Updates <br> News and Offers.</div>
                              <div class="subscribe-form">
                                  <form method="post" action="contact.html">
                                      <div class="form-group">
                                          <input type="email" name="email" value="" placeholder="Email Address..." required="">
                                          <button type="submit" class="theme-btn"><span class="flaticon-right-arrow-1"></span></button>
                                      </div>
                                  </form>
                              </div>
                              <ul class="social-icon-one">
                                  <li><a ><span class="fa fa-facebook-f"></span></a></li>
                                  <li><a ><span class="fa fa-twitter"></span></a></li>
                                  <li><a ><span class="fa fa-linkedin"></span></a></li>
                                  <li><a ><span class="fa fa-rss"></span></a></li>
                                  <li><a ><span class="fa fa-google-plus"></span></a></li>
                                  <li><a ><span class="fa fa-vimeo"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  
                  <!--Column-->
                  <div class="column col-md-4 col-sm-6 col-xs-12">
          <div class="footer-widget office-widget">
                        <div class="footer-title">
                            <h2>Corporate Office</h2>
                          </div>
                          <div class="widget-content">
              <div class="single-item-carousel owl-carousel owl-theme">
                                
                                  <div class="office-info">
                                    <ul>
                                        <li><strong>Address:</strong></li>
                                          <li>425 Cowly Brown Road <br> Block 4 / 2C, New York 10013, USA.</li>
                                          <li><a >Find Us On Map</a></li>
                                      </ul>
                                  </div>
                                  
                                  <div class="office-info">
                                    <ul>
                                        <li><strong>Address:</strong></li>
                                          <li>425 Cowly Brown Road <br> Block 4 / 2C, New York 10013, USA.</li>
                                          <li><a >Find Us On Map</a></li>
                                      </ul>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
          
      </div>
      <!--Copyright-->
      <div class="copyright">Copyright &copy; 2019 The <a >America's Marketing & Media Sollutions LLC</a>. All rights reserved.</div>
  </footer>
  <!--Main Footer-->
  
  <!--Bottom Parallax-->
  <div class="bottom-parallax">
      <!--About Section-->
      <section class="about-section" style="background-image:url(../../assets/images/background/pattern-3.png)">
          <div class="auto-container">
              <div class="inner">
                  <h2>We don’t just talk about what is coming next, we do it.</h2>
                  <a class="theme-btn btn-style-three">Join With Us</a>
              </div>
          </div>
      </section>
      <!--End About Section-->
  </div>
  
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>
