<div class="page-wrapper">
 	
  <!-- Preloader -->
  <div class="preloader"></div>
 
  <!-- Main Header-->
  <header class="main-header" [ngClass]="isService?'header-style-five':'header-style-one'">
  
    <!-- Header Top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="top-outer clearfix">
                  
                  <!--Top Left-->
                  <div class="top-left">
                    <ul class="links clearfix">
                        <!--Language-->
                          <!-- <li class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ><span class="flag-img"><img src="../../assets/images/icons/flag.jpg" alt="" /></span>English &nbsp;<span class="fa fa-angle-down"></span></a>
                              <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                                  <li><a>English</a></li>
                                  <li><a>German</a></li>
                                  <li><a>Arabic</a></li>
                                  <li><a>Hindi</a></li>
                              </ul>
                          </li> -->
                        <!-- <li><a ><span class="icon fa fa-phone"></span>Talk With Our Spacialist: <strong>+0 625-07520-6644</strong> </a></li>
                          <li><a ><span class="icon"></span>Contact Us</a></li> -->
                      </ul>
                  </div>
                  
                  <!--Top Right-->
                  <div class="top-right clearfix">
                    <ul class="clearfix">
                          <li><a [routerLink]="['/login']"><span class="icon flaticon-user"></span>Login</a></li>
                      </ul>                        
                  </div>
                  
              </div>
              
          </div>
      </div>
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                  <!--Logo Box-->
                  <div class="logo-box">
                      <div class="logo"><b><a style="text-transform: uppercase;"><img src="../../assets/images/PHOTO-2019-03-19-01-54-50.png" width="70" height="50" alt="">America's Marketing & Media Solutions LLC</a></b></div>
                  </div>
                  
                  <!--Nav Outer-->
                  <div class="nav-outer clearfix">
                  
                      <!-- Main Menu -->
                      <nav class="main-menu">
                          <div class="navbar-header">
                              <!-- Toggle Button -->    	
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>
                          
                          <div class="navbar-collapse collapse clearfix">
                              <ul class="navigation clearfix">
                                  <li class="current dropdown"><a [routerLink]="['/home']">Home</a>
                                    <!-- <ul>
                                          <li><a href="index.html">Header Style 01</a></li>
                                          <li><a href="index-2.html">Header Style 02</a></li>
                                          <li><a href="index-3.html">Header Style 03</a></li>
                                          <li><a href="index-4.html">Header Style 04</a></li>
                                      </ul> -->
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/services']">Services</a>
                                    <!-- <ul>
                                          <li><a >Search Engine Optimization</a></li>
                                          
                                      </ul> -->
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/aboutcompany']">company</a>
                                    <!-- <ul>
                                          <li><a href="about.html">About Our Company</a></li>
                                          
                                      </ul> -->
                                  </li>
                                  <!-- <li class="dropdown"><a >Case Studies</a>
                                    <ul>
                                          <li><a href="case.html">Case Studies Default</a></li>
                                         
                                      </ul>
                                  </li>
                                  <li><a href="price.html">Pricing</a></li>
                                  <li class="dropdown"><a >Blog</a>
                                    <ul>
                                          <li><a href="blog.html">Blog Default</a></li>
                                        
                                      </ul>
                                  </li> -->
                               </ul>
                          </div>
                      </nav>
                      <!-- Main Menu End-->
                      
                      <!--Outer Box-->
                      <!-- <div class="outer-box">
                          <a class="theme-btn btn-style-one"> <span class="icon flaticon-right-arrow-1"></span> Get a Quote</a>
                      </div> -->
                      
                  </div>
                  <!--Nav Outer End-->
                  
            </div>    
          </div>
      </div>
    
      <!--Sticky Header-->
      <div class="sticky-header">
        <div class="auto-container">
            
              <div class="outer-container clearfix">
                  <!--Logo Box-->
                  <div class="logo-box pull-left">
                      <div class="logo"><b><a style="text-transform:uppercase;"><img src="../../assets/images/PHOTO-2019-03-19-01-54-50.png" width="70" height="50" alt="">America's Marketing & Media Solutions LLC</a></b></div>
                  </div>
                  
                  <!--Nav Outer-->
                  <div class="nav-outer clearfix">
                      <!-- Main Menu -->
                      <nav class="main-menu">
                          <div class="navbar-header">
                              <!-- Toggle Button -->    	
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>
                          
                          <div class="navbar-collapse collapse clearfix">
                              <ul class="navigation clearfix">
                                  <li class="current dropdown"><a [routerLink]="['/home']">Home</a>
                                 
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/services']">Services</a>
                                    <!-- <ul>
                                          <li><a href="services.html">Search Engine Optimization</a></li>
                                          
                                      </ul> -->
                                  </li>
                                  <li class="dropdown"><a [routerLink]="['/aboutcompany']">company</a>
                                    <!-- <ul>
                                          <li><a href="about.html">About Our Company</a></li>
                                         
                                      </ul> -->
                                  </li>
                                  
                               </ul>
                          </div>
                      </nav>
                      <!-- Main Menu End-->
                      
                  </div>
                  <!--Nav Outer End-->
                  
            </div>
              
          </div>
      </div>
      <!--End Sticky Header-->
      
  </header>
  <!--End Main Header -->

  

  <section *ngIf="!isService" class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery" style="overflow:visible;height:850px;">
        <div  class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1"  >
            <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1664px; height: 100%; max-height: none; left: 0px;">
            
              <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../../assets/images/main-slider/image-1.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../assets/images/main-slider/image-1.jpg"> 
                
                <div class="tp-caption" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['560','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['-30','-90','-90','-60']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <h2><span>best</span>Digital Marketing agency in <br> United States.</h2>
                </div>
                
                <div class="tp-caption" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['470','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['40','40','20','0']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <div class="text">We Offering Digital Marketing Solutions that can Tailored to Suit any Budget and Business.</div>
                </div>
                
                <div class="tp-caption tp-resizeme" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['560','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['130','150','120','100']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <div class="btns-box">
                    <a  class="theme-btn btn-style-one"> <span class="icon flaticon-right-arrow-1"></span> Read More</a>
                    </div>
                </div>
                
                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="shape"
                data-height="auto"
                data-whitespace="nowrap"
                data-width="none"
                data-hoffset="['15','15','15','15']"
                data-voffset="['20','15','15','15']"
                data-x="['right','right','right','right']"
                data-y="['middle','middle','middle','middle']"
                data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <figure class="content-image"><img src="../../assets/images/main-slider/content-image-1.png" alt=""></figure>
                </div>
                
                </li>
                
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../../assets/images/main-slider/image-2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../assets/images/main-slider/image-2.jpg"> 
                
                <div class="tp-caption" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['560','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['-30','-50','-50','-50']"
                data-x="['right','right','right','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <h2 class="light"><span>email</span>Marketing is extreanly cost <br> efficient and targeted.</h2>
                </div>
                
                <div class="tp-caption" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['560','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['40','20','20','15']"
                data-x="['right','right','right','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <div class="text light">We Offering Digital Marketing Solutions that can Tailored <br> to Suit any Budget and Business.</div>
                </div>
                
                <div class="tp-caption tp-resizeme" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['560','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['130','100','100','100']"
                data-x="['right','right','right','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <div class="btns-box">
                    <a  class="theme-btn btn-style-one"> <span class="icon flaticon-right-arrow-1"></span> Read More</a>
                    </div>
                </div>
                
                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="shape"
                data-height="auto"
                data-whitespace="nowrap"
                data-width="none"
                data-hoffset="['15','15','15','15']"
                data-voffset="['20','0','0','0']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','middle','middle']"
                data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <figure class="content-image"><img src="../../assets/images/main-slider/content-image-2.png" alt=""></figure>
                </div>
                
                </li>
                
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1690" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="../../assets/images/main-slider/image-3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="../../assets/images/main-slider/image-3.jpg"> 
                
                <div class="tp-caption" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['560','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['-30','-90','-90','-60']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <h2 class="light"><span>ppc</span>Digital Marketing agency in <br> United States.</h2>
                </div>
                
                <div class="tp-caption" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['470','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['30','40','20','0']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <div class="text light">We Offering Digital Marketing Solutions that can Tailored to Suit any Budget and Business.</div>
                </div>
                
                <div class="tp-caption tp-resizeme" 
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['560','700','700','550']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['120','150','120','100']"
                data-x="['left','left','left','left']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <div class="btns-box">
                    <a  class="theme-btn btn-style-one"> <span class="icon flaticon-right-arrow-1"></span> Read More</a>
                    </div>
                </div>
                
                <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="shape"
                data-height="auto"
                data-whitespace="nowrap"
                data-width="none"
                data-hoffset="['-80','15','15','15']"
                data-voffset="['0','0','0','0']"
                data-x="['right','right','right','right']"
                data-y="['bottom','bottom','bottom','bottom']"
                data-frames='[{"from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
                  <figure class="content-image"><img src="../../assets/images/main-slider/content-image-3.png" alt=""></figure>
                </div>
                
                </li>
                
            </ul>
        </div>
    </div>
</section>

<section *ngIf="isService" class="page-title" style="background-image:url(../../assets/images/background/pattern-4.png);">
    <div class="auto-container">
        <h1>{{modulName}}</h1>
    </div>
    <!--Page Info-->
    <div class="page-info">
        <div class="auto-container">
          <div class="inner-container">
                <ul class="bread-crumb">
                    <li><a [routerLink]="['/home']">Home</a></li>
                    <li><a [routerLink]="['/services']">{{modulName}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Page Info-->
</section>

  <router-outlet></router-outlet>
  <!--Main Footer-->
  <footer class="main-footer">
    <div class="auto-container">
      
        <!--Widgets Section-->
          <div class="widgets-section">
            <div class="row clearfix">
                
                  <div class="column col-md-4 col-sm-6 col-xs-12">
          <div class="footer-widget subscribe-widget">
                        <div class="footer-title">
                            <h2>Subscribe Us </h2>
                          </div>
                          <div class="widget-content">
                            <div class="text">Subscribe us for recieve latest Updates <br> News and Offers.</div>
                              <div class="subscribe-form">
                                  <form method="post" action="contact.html">
                                      <div class="form-group">
                                          <input type="email" name="email" value="" placeholder="Email Address..." required="">
                                          <button type="submit" class="theme-btn"><span class="flaticon-right-arrow-1"></span></button>
                                      </div>
                                  </form>
                              </div>
                              <ul class="social-icon-one">
                                  <li><a ><span class="fa fa-facebook-f"></span></a></li>
                                  <li><a ><span class="fa fa-twitter"></span></a></li>
                                  <li><a ><span class="fa fa-linkedin"></span></a></li>
                                  <li><a ><span class="fa fa-rss"></span></a></li>
                                  <li><a ><span class="fa fa-google-plus"></span></a></li>
                                  <li><a ><span class="fa fa-vimeo"></span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  
                  <!--Column-->
                  <div class="column col-md-4 col-sm-6 col-xs-12">
          <div class="footer-widget office-widget">
                        <div class="footer-title">
                            <h2>Corporate Office</h2>
                          </div>
                          <div class="widget-content">
              <div class="single-item-carousel owl-carousel owl-theme">
                                
                                  <div class="office-info">
                                    <ul>
                                        <li><strong>Address:</strong></li>
                                          <li>425 Cowly Brown Road <br> Block 4 / 2C, New York 10013, USA.</li>
                                          <li><a >Find Us On Map</a></li>
                                      </ul>
                                  </div>
                                  
                                  <div class="office-info">
                                    <ul>
                                        <li><strong>Address:</strong></li>
                                          <li>425 Cowly Brown Road <br> Block 4 / 2C, New York 10013, USA.</li>
                                          <li><a >Find Us On Map</a></li>
                                      </ul>
                                  </div>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
          
      </div>
      <!--Copyright-->
      <div class="copyright">Copyright &copy; 2019 The <a >America's Marketing & Media Solutions LLC</a>. All rights reserved.</div>
  </footer>
  <!--Main Footer-->
  
  <!--Bottom Parallax-->
  <div class="bottom-parallax">
      <!--About Section-->
      <section class="about-section" style="background-image:url(../../assets/images/background/pattern-3.png)">
          <div class="auto-container">
              <div class="inner">
                  <h2>We don’t just talk about what is coming next, we do it.</h2>
                  <a class="theme-btn btn-style-three">Join With Us</a>
              </div>
          </div>
      </section>
      <!--End About Section-->
  </div>
  
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>
