    <!--Page Title-->
 
  <!--End Page Title-->

<section class="blog-page-section">
  <div class="auto-container">
      <div class="row clearfix">


              <!--News Block-->
              <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a [routerLink]="['/servicedetails/XareltoLawsuits']"><img src="../assets/images/resource/news-8.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <div class="upper">
                              <h3><a style="text-transform:uppercase;" [routerLink]="['/servicedetails/XareltoLawsuits']">Xarelto Lawsuits</a></h3>
                            </div>
                            <div class="more">
                              <a [routerLink]="['/servicedetails/XareltoLawsuits']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                  <div class="inner-box">
                      <div class="image">
                          <a [routerLink]="['/servicedetails/InvokanaLawsuits']"><img src="../assets/images/resource/news-9.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                          <div class="upper">
                              <h3><a style="text-transform:uppercase;" [routerLink]="['/servicedetails/InvokanaLawsuits']">Invokana Lawsuits</a></h3>
                            </div>
                            <div class="more">
                              <a [routerLink]="['/servicedetails/InvokanaLawsuits']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <a [routerLink]="['/servicedetails/IVCLawsuits']"><img src="../assets/images/resource/news-2.jpg" alt="" /></a>
                          </div>
                          <div class="lower-content">
                            <div class="upper">
                                <h3><a style="text-transform:uppercase;" [routerLink]="['/servicedetails/IVCLawsuits']">IVC Filter Lawsuits</a></h3>
                              </div>
                              <div class="more">
                                <a [routerLink]="['/servicedetails/IVCLawsuits']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                              </div>
                          </div>
                      </div>
                  </div>
          
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a [routerLink]="['/servicedetails/LEADGENERATION']"><img  src="../assets/images/resource/news-1.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper">
                          <h3><a [routerLink]="['/servicedetails/LEADGENERATION']">LEAD GENERATION</a></h3>
                        </div>
                        <div class="more">
                          <a  class="read-more" [routerLink]="['/servicedetails/LEADGENERATION']"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a [routerLink]="['/servicedetails/TELEMARKETING']"><img src="../assets/images/resource/news-2.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper">
                          <h3><a [routerLink]="['/servicedetails/TELEMARKETING']">TELEMARKETING SERVICES</a></h3>
                        </div>
                        <div class="more">
                          <a [routerLink]="['/servicedetails/TELEMARKETING']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a [routerLink]="['/servicedetails/B2BLEADGENERATION']"><img src="../assets/images/resource/news-3.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper">
                          <h3><a [routerLink]="['/servicedetails/B2BLEADGENERATION']">B2B LEAD GENERATION & CONTENT SYNDICATION</a></h3>
                        </div>
                        <div class="more">
                          <a [routerLink]="['/servicedetails/B2BLEADGENERATION']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a [routerLink]="['/servicedetails/CONTENTMARKETING']"><img src="../assets/images/resource/news-4.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper">
                          <h3><a [routerLink]="['/servicedetails/CONTENTMARKETING']">CONTENT MARKETING</a></h3>
                        </div>
                        <div class="more">
                          <a [routerLink]="['/servicedetails/CONTENTMARKETING']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a [routerLink]="['/servicedetails/PIPELINEDEVELOPMENT']"><img src="../assets/images/resource/news-5.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper">
                          <h3><a [routerLink]="['/servicedetails/PIPELINEDEVELOPMENT']">PIPELINE DEVELOPMENT</a></h3>
                        </div>
                        <div class="more">
                          <a  [routerLink]="['/servicedetails/PIPELINEDEVELOPMENT']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a [routerLink]="['/servicedetails/BETTERROI']"><img src="../assets/images/resource/news-6.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper">
                          <h3><a [routerLink]="['/servicedetails/BETTERROI']">BETTER ROI WITH PRECISE TARGETING</a></h3>
                        </div>
                        <div class="more">
                          <a [routerLink]="['/servicedetails/BETTERROI']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--News Block-->
            <div class="news-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a [routerLink]="['/servicedetails/APPOINTMENTSETTING']"><img src="../assets/images/resource/news-7.jpg" alt="" /></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper">
                          <h3><a [routerLink]="['/servicedetails/APPOINTMENTSETTING']">APPOINTMENT SETTING</a></h3>
                        </div>
                        <div class="more">
                          <a [routerLink]="['/servicedetails/APPOINTMENTSETTING']" class="read-more"><span class="fa fa-chevron-circle-right"></span> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
      
            
        </div>
    </div>
</section>

  


  
  <!--Services Section-->
  <section class="services-section">
    <div class="auto-container">
        <!--Sec Title-->
          <div class="sec-title centered">
            <h2>Our services</h2>
              <div class="text">We help you generate high-quality online sales leads by implementing highly structured, persuasive Internet marketing campaigns.</div>
          </div>
          
          <div class="row clearfix">
            
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/../assets/images/icons/services-1.png" alt="" /></span>
                      </div>
                      <h3><a >Search Engine Optimization</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/../assets/images/icons/services-2.png" alt="" /></span>
                      </div>
                      <h3><a >Pay Per Click Management</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/../assets/images/icons/services-3.png" alt="" /></span>
                      </div>
                      <h3><a >Display Advertising</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/../assets/images/icons/services-7.png" alt="" /></span>
                      </div>
                      <h3><a href="email-marketing.html">Email Marketing</a></h3>
                      <div class="text">The masterbuilder human happiness of one rejects dislikes avoids...</div>
                      <a href="email-marketing.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/../assets/images/icons/services-8.png" alt="" /></span>
                      </div>
                      <h3><a href="web-development.html">Web Development</a></h3>
                      <div class="text">Desires to obtain painitself because it is pain, but because occasionally...</div>
                      <a href="web-development.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/../assets/images/icons/services-9.png" alt="" /></span>
                      </div>
                      <h3><a href="mobile-optimizations.html">Mobile Optimization</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a href="mobile-optimizations.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
          </div>
          
      </div>
  </section>
  <!--End Services Section-->
  
  <!--Marketing Section Two-->
  <section class="marketing-section-two" style="background-image:url(../../assets/../../assets/../assets/images/background/3.png)">
    <div class="auto-container">
        <div class="steps-blocks">
            <div class="row clearfix">
              
              <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/../assets/images/icons/market-icon-1.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Get Client’s Goal</a></h3>
                          <div class="step-number">Step 01</div>
                      </div>
                  </div>
                  
                  <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/../assets/images/icons/market-icon-2.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Realize Challenges</a></h3>
                          <div class="step-number">Step 02</div>
                      </div>
                  </div>
                  
                  <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/../assets/images/icons/market-icon-3.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Find Solution</a></h3>
                          <div class="step-number">Step 03</div>
                      </div>
                  </div>
                  
                  <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/../assets/images/icons/market-icon-4.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Final Result</a></h3>
                          <div class="step-number">Step 04</div>
                      </div>
                  </div>
                  
            </div>
          </div>
          <h3>We’ll Make Your Web Marketing! More Efficient!</h3>
          <a href="contact.html" class="theme-btn btn-style-one">Get a Quote</a>
      </div>
  </section>
  <!--End Marketing Section-->
  
  <!--Case Modern Section-->
  <section class="case-modern-section">
    <div class="auto-container">
      
        <!--Sec Title-->
          <div class="sec-title centered">
            <h2>Case Studies</h2>
              <div class="text">We help you generate high-quality online sales leads by implementing highly structured, persuasive Internet marketing campaigns.</div>
          </div>
      
        <div class="row clearfix">
            
              <!--Case Block Two-->
              <div class="case-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                          <img src="../../assets/../assets/images/resource/case-7.jpg" alt="" />
                          <div class="overlay-box">
                            <a href="cases-single.html" class="theme-btn btn-style-one">Visit Site</a>
                          </div>
                      </div>
                      <div class="lower-box">
            <h3><a href="cases-single.html">Dell Audience Monitoring</a></h3>
                          <div class="text">Number one position in search engine ads 25.54% increase... </div>
                          <a href="cases-single.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                      </div>
                  </div>
              </div>
              
              <!--Case Block Two-->
              <div class="case-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                          <img src="../../assets/../assets/images/resource/case-8.jpg" alt="" />
                          <div class="overlay-box">
                            <a href="cases-single.html" class="theme-btn btn-style-one">Visit Site</a>
                          </div>
                      </div>
                      <div class="lower-box">
            <h3><a href="cases-single.html">Website SEO Optimization</a></h3>
                          <div class="text">Manual Penalty Removal and 233% increase in Organic Traffic.</div>
                          <a href="cases-single.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                      </div>
                  </div>
              </div>
              
              <!--Case Block Two-->
              <div class="case-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                          <img src="../../assets/../assets/images/resource/case-9.jpg" alt="" />
                          <div class="overlay-box">
                            <a href="cases-single.html" class="theme-btn btn-style-one">Visit Site</a>
                          </div>
                      </div>
                      <div class="lower-box">
            <h3><a href="cases-single.html">Conference Marketing</a></h3>
                          <div class="text">Number one position in search engine ads 25.54% increase... </div>
                          <a href="cases-single.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                      </div>
                  </div>
              </div>
    
          </div>
          
          <div class="text-center btn-box">
            <a href="#" class="theme-btn btn-style-one">View More</a>
          </div>
          
      </div>
      
  </section>