  
    <!--Page Title-->
    <section class="page-title" style="background-image:url(../../assets/../../assets/images/background/pattern-4.png);">
      <div class="auto-container">
          <h1>Services</h1>
      </div>
      <!--Page Info-->
      <div class="page-info">
          <div class="auto-container">
            <div class="inner-container">
                  <ul class="bread-crumb">
                      <li><a href="index.html">Home</a></li>
                      <li>Services</li>
                  </ul>
              </div>
          </div>
      </div>
      <!--End Page Info-->
  </section>
  <!--End Page Title-->



  <div class="container">

    <div class="row text-center" id="heading">
      <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
                <h4> OUR SERVICES</h4>
                <hr class="full">
                <br/>
      </div>
    </div>	<!-- row -->
    <!-- <div class="row about-us-text">
      <div class="col-md-10 col-md-offset-2"> -->
          <div class="row about-us-text">
              <div class="col-md-12">
        <p><u><b>LEAD GENERATION:- </b></u></p>
        <p><b>WHAT IS LEAD GENERATION?</b></p>
        <p >Lead generation describes the marketing process of stimulating and capturing interest in a product or service for the purpose of developing sales pipeline.
        </p>
        <p>Lead generation often uses digital channels, and has been undergoing substantial changes in recent years from the rise of new online and social techniques. In particular, the abundance of information readily available online has led to the rise of the “self-directed buyer” and the emergence of new techniques to develop and qualify potential leads before passing them to sales. </p>
      </div>
    </div>	<!-- row -->
    <br>
   
            <div class="row about-us-text">
                <div class="col-md-12">
          <p><b>WHY IS LEAD GENERATION IMPORTANT?</b></p>
          <p >The buying process has changed, and marketers need to find new ways to reach buyers and get heard through the noise.  Instead of finding customers with mass advertising and email blasts, marketers must now focus on being found and learn to build continuous relationships with buyers.
          </p>
        </div>
      </div>	<!-- row -->
    <br>
    
            <div class="row about-us-text">
                <div class="col-md-12">
          <p><b><u>TELEMARKETING SERVICES:</u></b></p>
          <p >Telemarketing is a marketing strategy that involves connecting with customers over the telephone or, more recently, through web-based video conferencing. 
          </p>
          <br>
          <p >Telemarketing is one of the most divisive strategies in modern marketing because many organizations have been known to use irritating or unethical practices in telemarketing. One of the most negatively-perceived versions of telemarketing is known as “robo-calling,” a practice that involves using a pre-recorded message delivered through an automatic dialing machine that can contact thousands of people every day. Because of these and other unpopular methods, there are many government regulations of telemarketing in several countries throughout the world.

            </p>
            <br>
            <p >Telemarketing can help a wide variety of organizations achieve improved results in different ways. Though the most obvious form of telemarketing involves company calls to individuals at home to pitch them products, telemarketing is also a significant strategy in business-to-business sales, event promotion, political campaigning, and lead generation for more sophisticated sales procedures.
              </p>
              <br>
              <p >Companies that wish to promote an event that appeals to a specific demographic can also use telemarketing to reach potential participants. For instance, a company that organizes continuing education conferences for dentists could use telemarketing to contact a large number of dental practices to raise awareness about an upcoming conference, and encourage the dentists to attend.
                </p>
                <br>
                <p >Telemarketing can be used to achieve several different business goals, including:</p>
                   <p> Selling a product </p>
                   <p> Generating leads for a sales team </p>
                   <p> Conducting surveys and collecting consumer data </p>
                   <p> Maintaining contact with existing customers or encouraging previous customers to return.</p>
                    
        </div>
      </div>	<!-- row -->
    <br>
    <div class="row about-us-text">
        <div class="col-md-12">
          <p><u><b>PIPELINE DEVELOPMENT: </b></u></p>
          <p><b>ACCELERATE YOUR SALES PIPELINE!</b></p>
          <p >Managing and developing the sales pipeline is one of the most important tasks in any sales driven organization. Marketing teams are tasked with generating quality business leads to fill the sales pipeline. Sales teams are tasked with managing the pipeline, acting on leads and closing deals.
          </p>
          <p>America's Marketing & Media Solutions LLC pipeline development solutions address the entire lead generation life cycle. From acquiring high quality leads, to improving lead data to nurturing these leads, our solutions help simplify the sales process and make your organization more efficient and effective in reaching your target customers.</p>
        <br>
        <p><b>Lead Verification</b></p>
          <p >Realize greater value from your sales and marketing programs by improving the data you rely on. Inaccurate and unreliable contact data wastes money and time. America's Marketing & Media Solutions LLCcan verify your webinar, seminar or other activity to insure your list is accurate.
          </p>
          <br>
          <p><b>High Quality Lead</b></p>
          <p >The speed with which you can generate qualify leads dictates how fast you can build a sustainable pipeline. America's Marketing & Media Solutions LLC can qualify your leads and make them more "sales ready" based on your unique criteria. 
          </p>
        
        
        </div>
      </div>	<!-- row -->
      <br>
      <div class="row about-us-text">
          <div class="col-md-12">
            <p><b>LEAD VERIFICATION (VALIDATION)</b></p>
            <p >America's Marketing & Media Solutions LLCLead Verification Program will validate the contact demographic information of each lead from either your own database or a America's Marketing & Media Solutions LLC lead generation program to ensure you are using the best information to reach the right people. This can boost the effectiveness of your marketing programs, your sales team's productivity and drive down costs by ensuring that your messages are reaching the right audience.
            </p>
          </div>
        </div>	<!-- row -->
        <br>
        <div class="row about-us-text">
            <div class="col-md-12">
              <p><b>FEATURES:- </b></p>
              <p >Phone and email validation</p>
              <p >Contact name and title validation</p>
              <p >Augments user input data</p>
            </div>
          </div>	<!-- row -->
          <br>
          <div class="row about-us-text">
              <div class="col-md-12">
                <p><b>BENEFITS :-  </b></p>
                <p >Improves lead quality and increases lead conversion rates with corrected and enhanced data.</p>
                <p >Improves lead contact ability.</p>
                <p >Improves sales productivity.</p>
                <p >Enables measurement of your vendor's lead quality for evaluation purposes.</p>
              </div>
            </div>	<!-- row -->
            <br>
            <div class="row about-us-text">
                <div class="col-md-12">
                  <p><b>HQL (HIGH QUALITY LEAD) </b></p>
                  <br>
                  <p><b>Qualified data transforms your potential customers from leads to "sales ready" opportunities. </b></p>
                  <p >You spend a lot of money generating leads – but if they are not properly qualified, that investment will not yield the results that it could, nor will it help you determine whether the program is a good investment for the future. With a targeted and timely follow up, you can leverage your marketing investment and more rapidly identify qualified opportunities for your sales team to close.</p>

                </div>
              </div>	<!-- row -->
              <br>
              <div class="row about-us-text">
                  <div class="col-md-12">
                    <p><b>FEATURES:- </b></p>
                    <p >Immediate follow up by skilled America's Marketing & Media Solutions LLCInside Sales Rep</p>
                    <p >Customizable qualification questions</p>
                    <p >Automatic lead validation and field checks</p>
                    <p >Real-time fulfillment with rule based routing</p>
                    <p >Automatic email alerts</p>
                    <p >Can use existing client lists, America's Marketing & Media Solutions LLC’S Prospect Database, or a feed directly from a lead generation program</p>
                  </div>
                </div>	<!-- row -->
                <br>
                <div class="row about-us-text">
                    <div class="col-md-12">
                      <p><b>BENEFITS :-  </b></p>
                      <p >Optimizes marketing campaigns</p>
                      <p >Accelerates sales cycles</p>
                      <p >Improves sales productivity</p>
                    </div>
                  </div>	<!-- row -->
                  <br>


                  <div class="row about-us-text">
                    <div class="col-md-12">
                              <p><b>TECHNOLOGY </b></p>
                              <br>
                              <p><b>BETTER ROI WITH PRECISE TARGETING</b></p>
                              <p >America's Marketing & Media Solutions LLC AUDIENCE TARGET™ technology uses three layers of sophisticated targeting (Contextual,
                                  Attribute and Conversion) to pinpoint the right prospects, avoid fraud, stop waste, and deliver results
                                  </p>
                            </div>
                          </div>	<!-- row -->
                          <br>
                          <br>
                          <div class="row about-us-text">
                              <div class="col-md-12">
                              <p><b>Contextual Targeting </b></p>
                              <br>
                              <p >Your content or display ads are shown only on sites related to your target industry. For example, if your white paper is about CRM, then your white paper will be distributed only to CRM-related web properties.</p>
          
                            </div>
                          </div>	<!-- row -->
                          <br>
                          
                          <div class="row about-us-text">
                              <div class="col-md-12">
                              <p><b>Demographic Targeting</b></p>
                              <br>
                              <p >If demographic information is known, then your content is shown only to your target demographic. For example, if you're targeting enterprise companies (1000+ employees), then your white paper will skew away from SMB users.</p>
          
                            </div>
                          </div>	<!-- row -->
                          <br>
                          
                          <div class="row about-us-text">
                              <div class="col-md-12">
                                <p><b>Conversion Targeting</b></p>
                                <br>
                                <p >Acquiring and converting customers significantly impacts the success of any business. See how America's Marketing & Media Solutions LLCcan complement your current activities and accelerate your sales pipeline.</p>
            
                              </div>
                            </div>	<!-- row -->
                          <br>
                          <div class="row about-us-text">
                              <div class="col-md-12">
                                <p><b>EXPERTISE</b></p>
                                <p><b>Focus on your work. We'll take care of the rest</b></p>
                                <br>
                                <p >America's Marketing & Media Solutions LLCprovides you with the tools and expertise to achieve your lead generation goals.</p>
                                <p>America's Marketing & Media Solutions LLCworks with over 15,000 web properties to make sure your content is read and focused on your target market.</p>
                                <p>Whether you want to use America's Marketing & Media Solutions LLC’S full service offering, which includes a dedicated Client Services Rep to assist you with everything from Creative Services to Content Analysis to Best Practices and Post campaign analytics, or whether you want to create your own campaign using America's Marketing & Media Solutions LLC’S sophisticated (yet easy to use) online campaign tool and America's Marketing & Media Solutions LLC’S Best Practices content and Self Service guides, America's Marketing & Media Solutions LLCwill provide you with the tools or service to create a successful lead generation campaign.</p>
                              </div>
                            </div>	<!-- row -->
                          <br>
                          <div class="row about-us-text">
                              <div class="col-md-12">
                                <p>OTHER SERVICES OFFERED :- </p>
                                <p><b><u>B2B LEAD GENERATION & CONTENT SYNDICATION:</u></b></p>
                                <br>
                                <p >Content syndication would be one of the most best & effective practice to leverage your investment in white papers, Webcasts, Seminars, case studies, analyst reports by making those documents instantly available to billions of technology buyers looking for information or solution related to business problem that your product solves. We promote your whitepapers or webinar/event invitations to prospects who have expressed their interest in you. Our team of experienced Lead Generation Professionals delineate that match your specifications and target the key decision makers.</p>
                              </div>
                            </div>	<!-- row -->
                          <br>
                          <br>
                          <div class="row about-us-text">
                              <div class="col-md-12">
                                <p><b>How we make it work: </b></p>
                                <p >After discussing your needs and demands, we create our custom content syndication plan.</p>
                                <p >We negotiate for the lowest CPL possible according to your desired lead qualifications.</p>
                                <p >After our discussion on the content you would like us to share with your clients, we place the content on your behalf.</p>
                                <p >Once we score all the leads, we verify them with the help of our Lead Generation Quality Analysts, format them and send them across through email or even upload them directly on your CRM.</p>
                                <p >We constantly monitor the campaign and make the necessary changes needed and also resolve any vendor issues.</p>
                                <p >In the end, we send you a detailed lead summary audit and also incorporate lead conversion, if possible.</p>
              <p>America's Marketing & Media Solutions LLC Cloud Solutions LLC understands the demands sales organizations put on B2B marketers: delivering high quality leads at a cost that maximizes your demand generation ROI. Our extensive experience in this space has lead us to develop solutions that solve this problem. By leveraging your content and exposing it to the largest network available with an expansive audience of many markets, we empower you in your lead generation efforts with content syndication services.
                </p>
                              </div>
                            </div>	<!-- row -->
                            <br>
                            <div class="row about-us-text">
                                <div class="col-md-12">
                                  <p><b>A REACH LIKE NO OTHER</b></p>
                                  <br>
                                  <p >(15K+ PUBLISHER SITES) Communicate your expertise and brand value through our online publisher partners that focus on reaching more than 300 markets and sub industries.</p>
                                  <p>(10+DEMAND CHANNELS) Extend your content to more than 10 communication channels that generate the demand needed to find your interested prospects. </p>
                                <p>(100M+ VISITORS / MONTH) Reach a potential of more than 100 million unique visitors per month by leveraging our network of lead generation channels.</p>
                                </div>
                              </div>	<!-- row -->
                            <br>
                            <div class="row about-us-text">
                                <div class="col-md-12">
                                  <p><b>GET LEADS YOU ACTUALLY WANT</b></p>
                                  <br>
                                  <p >Nothing is more painful than investing marketing dollars on content campaigns that don't generate the quality leads you need. America's Marketing & Media Solutions LLCoffers you two ways to achieve your goals while taking into consideration your budget.</p>
              
                                </div>
                              </div>	<!-- row -->
                            <br>
                            <div class="row about-us-text">
                                <div class="col-md-12">
                                  <p><b>HOW?</b></p>
                                  <br>
                                  <p >Our full-service offering, Lead Source, and self-serve content syndication lead generation tool, LeadFlow, leverage the network to produce the leads you actually want. All you need is existing content that offers substantial thought leadership, such as eBooks, whitepapers, case studies, video presentations, infographics and much more.</p>
              
                                </div>
                              </div>	<!-- row -->
                            <br>
                            <div class="row about-us-text">
                                <div class="col-md-12">
                                <p><b>APPOINTMENT SETTING:</b></p>
                                <br>
                                <p >Conversations are needed in order to develop the relationships and further on to get business. As a B2B sales company, our Appointment Setting Service delivers qualified decision makers to your sales team and avoid the hassle and expense of hiring and training inside sales resources. Let your sales team concentrate on what they do best i.e. closing the deal than wasting their time on finding the prospects. Let us do that for you as that are what we are best at. We at Sales Tactics have our team of professionals who set up confirmed appointments, let that be CXOs, VPs etc. for your sales team and help our clients create pipeline and accelerate revenue. This practice is completely based on your company's product, solutions or services and value propositions.</p>
            
                              </div>
                            </div>	<!-- row -->
                            <br>
                            <div class="row about-us-text">
                                <div class="col-md-12">
                                <p><b>How we make it work:</b></p>
                                <br>
                                <p >After a detailed discussion about your company’s product or services we make a custom sales script.</p>
                                <p> We negotiate on our pricing plans according to the number of seats you would like us to appoint on your campaign or a pay per appointment.</p>
                                <p> We then train our resources about your company products or services, build a custom database consisting on your key accounts or matching specifications.</p>
                                <p> Our goal is then to find the right prospects, separating them from the crowd, create a demand for your product or service and set an appointment.</p>
                                <p> This set appointment is then passed on to you once our quality analyst approves it.  </p>
                                <p> Next, you have your first call with the prospect on the scheduled date and time. We then follow.</p>
                              </div>
                            </div>	<!-- row -->
                          <br>
                          <br>
                                 <div class="row about-us-text">
                                <div class="col-md-12">
                                <p><b>EVENT REGISTRATION & CONFRIMATION</b></p>
                                <br>
                                <p >Have problem promoting a corporate event/conference? We spread awareness, generate a demand amongst prospects and invite them to your event. Want more attendees at your booth in a conference? Building a rapport with your clients or prospects is what helps you stay at the back of their mind. We follow up with the attendees from the list you provide us via phone and email and confirm their visit at your booth. Our team of highly experienced telemarketers will call your desired prospects from the key accounts you desire and generate interest among them about your product or service helping you be more visible in the market, hence zeroing in on them.</p>
            
                              </div>
                            </div>	<!-- row -->
                            <br>
                            <div class="row about-us-text">
                                <div class="col-md-12">
                                <p><b>ACCOUNT PROFILING</b></p>
                                <br>
                                <p >Based on our account profile report and contacts discovery lists, we keep your sales management team informed of the right prospects, addressing their business challenges and delivering new business openings allowing them to sell more efficiently and successfully. This Account Profiling Practice gives you the opportunity to gain in depth understanding on how a potential customer operates, how they are structured, who are the key decision makers, their decision making process, who they currently purchase from as well as their future plans. We help you understand your market by analyzing your product. We give you an in depth knowledge of the accounts you can target and every minute detail which would help you close a deal. We take the pain and spoon feed your sales team with prospects who would be the decision makers for their company.</p>
            
                              </div>
                            </div>	<!-- row -->
                            <br>
                            <div class="row about-us-text">
                                <div class="col-md-12">
                                <p><b>CONTENT MARKETING:- </b></p>
                                <br>
                                <p >WHITEPAPER’S & E-BOOKS:-  GET YOUR DIGITAL CONTENT TO GENERATE LEADS FOR YOU</p>
                                <p>America's Marketing & Media Solutions LLC engages with the decision makers through periodic Whitepapers. It’s important to ensure that the Whitepapers reach the right party contact and is read. Hence, America's Marketing & Media Solutions LLC Reps ensure that the White papers are reaching the right contact person through a prior opt-in. This activity includes an opt-in and then a confirmation on the receipt of the said whitepaper.</p>
                                <p>We can work with your target/named accounts or target a list that is as per your specifications. Contacts however are always profiled role-based for better results of your content marketing campaign.</p>
                              <br>
                              <p><b>1. Viewership guaranteed – we use email, newsletter and telephone to ensure your digital asset is viewed
           </b></p>
                              <p><b>2. We profile your prospect while disseminating the asset so you understand them better</b></p>
                              <p><b>3. Opt-In taken while distributing/download trigger</b></p>
                              <p><b>4. Performance based pricing, so you only pay for downloads and not opt-ins </b></p>
                              </div>
                            </div>	<!-- row -->
                          
                <br>
              
                
                <br>

  </div>

  
  <!--Services Section-->
  <section class="services-section">
    <div class="auto-container">
        <!--Sec Title-->
          <div class="sec-title centered">
            <h2>Our services</h2>
              <div class="text">We help you generate high-quality online sales leads by implementing highly structured, persuasive Internet marketing campaigns.</div>
          </div>
          
          <div class="row clearfix">
            
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/images/icons/services-1.png" alt="" /></span>
                      </div>
                      <h3><a href="seo-services.html">Search Engine Optimization</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a href="seo-services.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/images/icons/services-2.png" alt="" /></span>
                      </div>
                      <h3><a href="ppc-click-management.html">Pay Per Click Management</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a href="ppc-click-management.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/images/icons/services-3.png" alt="" /></span>
                      </div>
                      <h3><a href="display-advertising.html">Display Advertising</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a href="display-advertising.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/images/icons/services-7.png" alt="" /></span>
                      </div>
                      <h3><a href="email-marketing.html">Email Marketing</a></h3>
                      <div class="text">The masterbuilder human happiness of one rejects dislikes avoids...</div>
                      <a href="email-marketing.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/images/icons/services-8.png" alt="" /></span>
                      </div>
                      <h3><a href="web-development.html">Web Development</a></h3>
                      <div class="text">Desires to obtain painitself because it is pain, but because occasionally...</div>
                      <a href="web-development.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
              <!--Services Block-->
              <div class="services-block col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon"><img src="../../assets/images/icons/services-9.png" alt="" /></span>
                      </div>
                      <h3><a href="mobile-optimizations.html">Mobile Optimization</a></h3>
                      <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                      <a href="mobile-optimizations.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                  </div>
              </div>
              
          </div>
          
      </div>
  </section>
  <!--End Services Section-->
  
  <!--Marketing Section Two-->
  <section class="marketing-section-two" style="background-image:url(../../assets/../../assets/images/background/3.png)">
    <div class="auto-container">
        <div class="steps-blocks">
            <div class="row clearfix">
              
              <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/market-icon-1.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Get Client’s Goal</a></h3>
                          <div class="step-number">Step 01</div>
                      </div>
                  </div>
                  
                  <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/market-icon-2.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Realize Challenges</a></h3>
                          <div class="step-number">Step 02</div>
                      </div>
                  </div>
                  
                  <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/market-icon-3.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Find Solution</a></h3>
                          <div class="step-number">Step 03</div>
                      </div>
                  </div>
                  
                  <!--Step Block-->
                  <div class="step-block col-md-3 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/market-icon-4.png" alt="" /></span>
                          </div>
                          <h3><a href="#">Final Result</a></h3>
                          <div class="step-number">Step 04</div>
                      </div>
                  </div>
                  
            </div>
          </div>
          <h3>We’ll Make Your Web Marketing! More Efficient!</h3>
          <a href="contact.html" class="theme-btn btn-style-one">Get a Quote</a>
      </div>
  </section>
  <!--End Marketing Section-->
  
  <!--Case Modern Section-->
  <section class="case-modern-section">
    <div class="auto-container">
      
        <!--Sec Title-->
          <div class="sec-title centered">
            <h2>Case Studies</h2>
              <div class="text">We help you generate high-quality online sales leads by implementing highly structured, persuasive Internet marketing campaigns.</div>
          </div>
      
        <div class="row clearfix">
            
              <!--Case Block Two-->
              <div class="case-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                          <img src="../../assets/images/resource/case-7.jpg" alt="" />
                          <div class="overlay-box">
                            <a href="cases-single.html" class="theme-btn btn-style-one">Visit Site</a>
                          </div>
                      </div>
                      <div class="lower-box">
            <h3><a href="cases-single.html">Dell Audience Monitoring</a></h3>
                          <div class="text">Number one position in search engine ads 25.54% increase... </div>
                          <a href="cases-single.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                      </div>
                  </div>
              </div>
              
              <!--Case Block Two-->
              <div class="case-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                          <img src="../../assets/images/resource/case-8.jpg" alt="" />
                          <div class="overlay-box">
                            <a href="cases-single.html" class="theme-btn btn-style-one">Visit Site</a>
                          </div>
                      </div>
                      <div class="lower-box">
            <h3><a href="cases-single.html">Website SEO Optimization</a></h3>
                          <div class="text">Manual Penalty Removal and 233% increase in Organic Traffic.</div>
                          <a href="cases-single.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                      </div>
                  </div>
              </div>
              
              <!--Case Block Two-->
              <div class="case-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                          <img src="../../assets/images/resource/case-9.jpg" alt="" />
                          <div class="overlay-box">
                            <a href="cases-single.html" class="theme-btn btn-style-one">Visit Site</a>
                          </div>
                      </div>
                      <div class="lower-box">
            <h3><a href="cases-single.html">Conference Marketing</a></h3>
                          <div class="text">Number one position in search engine ads 25.54% increase... </div>
                          <a href="cases-single.html" class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                      </div>
                  </div>
              </div>
    
          </div>
          
          <div class="text-center btn-box">
            <a href="#" class="theme-btn btn-style-one">View More</a>
          </div>
          
      </div>
      
  </section>