<div class="sidebar-page-container">
  <div class="auto-container">
      <div class="row clearfix">
          
            <!--Content Side-->
            <div class="content-side col-lg-12 col-md-12 col-sm-12 col-xs-12">



                <div class="blog-single" *ngIf="name=='XareltoLawsuits'">
                    <div class="inner-box">
                                    <div class="image">
                                        <img src="../../../assets/images/resource/news-8.jpg" alt="" />
                                    </div>
                                    <div class="lower-content">
                                        
                                        <h3 style="text-transform:uppercase;">Xarelto Lawsuits</h3>
                                        <div class="text">
                                          <p>Every year more than 120,000 people get affected from heart arrhythmia or atrial fibrillation and end up with losing their lives. A medical report claimed that about 5 million people are having issues due to abnormal heart rhythm.

                                              That’s the reason behind introduction of drug: Xarelto. Back in the year 2011, Xarelto was one of the safest methods used for reducing the risks related to blood clots and heart stroke in the patients suffering from atrial fibrillation. People got excited and opted for this drug medication.
                                              
                                              Soon with time, patients realized that Xarelto was not safe to consume as multiple deaths and some unexpected ill effects were seen in a major population who were taking Xarelto. As a result, more than 15,000 lawsuits have already been filed against Xarelto and the number is still increasing.</p>
                                        </div>
                                    </div>
                                    <blockquote>
                                        <div class="quote-icon"><span class="icon flaticon-right-quotation-sign"></span></div>
                                        <div class="blockquote-text">   </div>
                                        <div class="quote-info">
                                            <h4>About Xarelto- The Blood Thinner</h4>
                                            <div class="quote-desination">
                                              <p>Xarelto is an orally consumable drug developed by the joint venture of Bayer and Johnson and Johnson’s Pharmaceuticals. This drug helps the patients and prevents DVT (Deep Vein Thrombosis) which results in formation of blood clots in the legs. FDA approved this drug in the initial days in order to relieve patients who underwent knee replacement surgeries.

                                                  But in November 2011, it was also approved for the patients to avoid strokes caused by atrial fibrillation. During that period, there was nothing better substitute to Xarelto and on seeing the benefits people shifted from Warafin to this.
                                                  
                                                  Xarelto was assumed as safer than warafin but the risks of bleeding inside brain and stomach were similar. A year later, FDA approved Xarelto for the treatment and reduction of blood clots in patients with pulmonary embolism and DVT.
                                                  
                                                  Due to this, the demand of Xarelto was increased and the parent company made profit in billions.</p>
                                            </div>
                                        </div>
                                    </blockquote>
                                    <div class="lower-content">
                                        
                                        <h3>How to file a lawsuit in this case?</h3>
                                        <div class="text">
                                          <p>The manufacturers of Xarelto have received thousands of lawsuits claiming for compensations, as even doctors are unable to stop the internal bleeding caused by this drug.

                                              We at Get Your Attorney care for you and your loved ones. All you have to do is getting a comprehensive health checkup from a registered doctor, rest all is managed by us. We can help you in filing the correct lawsuit in order to make sure that you achieve the decision in your favor and get a huge sum as compensation.
                                              
                                              We have vast experience in dealing with cases caused by Xarelto drug. With our judicial know-how, we make the process even quicker and represent your file with strong facts and arguments.</p>
                                        </div>
                                    </div>
                                </div>
                   </div>


                   <div class="blog-single" *ngIf="name=='InvokanaLawsuits'">
                      <div class="inner-box">
                                      <div class="image">
                                          <img src="../../../assets/images/resource/news-9.jpg" alt="" />
                                      </div>
                                      <div class="lower-content">
                                        
                                          <h3 style="text-transform:uppercase;">Invokana Lawsuits</h3>
                                          <div class="text">
                                            <p>Higher levels of sugar in the blood results in diabetes, which makes blood clotting more complex. The open wounds heal slowly and are prone of getting infections. That’s the major reason why most people suffering from Diabetes require some sort of medication for cure amputation in lower limb.

                                                Unknowingly most of the people who are taking these medications to regulate their blood sugar levels are not aware that the prescriptions they are taking can have some serious risks to their health while increasing the chances of amputation.
                                                
                                                One common drug that made billions of profit and is now a topic of debate is Invokana.
                                                
                                                This anti-diabetic drug was a part of controversy as the patients who were prescribed with this claimed that they have developed several side effects like kidney injuries, fractures, diabetic ketoacidosis, and amputation risks.
                                                
                                                </p>
                                          </div>
                                      </div>
                                      <blockquote>
                                          <div class="quote-icon"><span class="icon flaticon-right-quotation-sign"></span></div>
                                          <div class="blockquote-text">   </div>
                                          <div class="quote-info">
                                              <h4>Working of Invokana </h4>
                                              <div class="quote-desination">
                                                <p>Invokana is prescribed to be taken once in a day as an oral medication for the treatment of Type-2 Diabetes.

                                                    Type-2 Diabetes is a medical condition where a body is not able to cope up with insulin for the regulation of normal blood sugar level. Invokana helps in regulating the lower blood sugar with SGLT2 which is a sodium glucose based transporter. This helps in absorbing glucose in the blood for lowering sugar levels.</p>
                                              </div>
                                          </div>
                                      </blockquote>
                                      <div class="lower-content">
                                          
                                          <h3>Other fatal complications caused by Invokana</h3>
                                          <div class="text">
                                            <p>From the date, Invokana was approved and till now, the count of people affected by this drug is increasing. Apart from general side effects, there are some major health issues that can be caused by taking Invokana.</p>

                                            <b>Kidney Damage</b>
                                            <p>SGLT2 which act as a transporter is the main culprit behind acute kidney damage. Between 2013 and 2015, FDA received 70 cases which were confirmed with Kidney injuries due to Invokana. The number can be higher but FDA only disclosed the cases that they were aware of. Kidney damages caused by Invokana are really fatal and can be permanent in some cases.</p>
                                            <b>Lower Limb Amputation</b>
                                            <p>People suffering from Diabetes are already prone to lower limb amputation. A clinical trial confirmed this by revealing that people taking Invokana are two times more likely to get amputation in the lower limb. This forced FDA to take strict actions which resulted in addition of black box warning labels on Invokana packaging.</p>
                                            <b>We have helped hundreds of patients in getting justice</b>
                                            <p>Get Your Attorney has helped countless clients in filing a successful lawsuit against Invokana manufacturers. We correctly process your details and transform them into a lawsuit that has definite chances to get you compensated.

                                                If you and any of your known have suffered amputation due to Invokana, then we can help you! We can help you in filing a lawsuit, we can help you in claiming the medical bills you have paid from your pocket, and we can help you in getting a compensation amount that is fair enough.
                                                
                                                Filing lawsuits in product liability section needs quicker actions, and we assure you that we will perform each and every step of the process within the deadline.
                                                
                                                </p>
                                          </div>
                                      </div>
                                  </div>
                     </div>


                     <div class="blog-single" *ngIf="name=='IVCLawsuits'">
                        <div class="inner-box">
                                        <div class="image">
                                            <img src="../../../assets/images/resource/news-2.jpg" alt="" />
                                        </div>
                                        <div class="lower-content">
                                            
                                            <h3 style="text-transform:uppercase;">IVC Filter Lawsuits</h3>
                                            <div class="text">
                                             <p>IVC filters are special kind of medical devices that are significantly designed to avoid bold clots causing life-threatening injuries. But if these filters are left for too long on the body, they can result in severe pain, damaged internal organs and in some cases even resulted into death

                                                More than 300 injuries and 30 deaths have been spotted by FDA, and they stated that an IVC filter can break into small pieces, puncture internal organs and veins, and can even migrate to the brain, heart or lungs.
                                                
                                                In some fatal cases, IVC filter has damaged IVC (Inferior Vena Cava, badly punctured veins or moved to some other organs after the transplant.
                                                
                                                </p>

                                                <b>Everything you should know about a IVC filter</b>

                                                <p>IVC filters are medical devices that are implanted in the vessels which maintain a healthy blood flow from legs to the heart. They have a special design which is meant to detect and catch blood clots and avoid them to enter in the lungs. While catching the clot IVC filter makes sure that the blood flow is maintained.

                                                    There was a time when these filters were utilized to cure patients suffering from pulmonary embolisms. Some IVC filters are for temporary use; on the other hand some were designed for permanent utilization.
                                                    
                                                    The results IVC filters delivered were very impressive and patients inclined towards this over regular medication. However, this situation didn’t lasted too long as people started claiming side effects caused by these filters.</p>
                                                    <b>Some common complications of IVC filter to human body</b>

                                                    <p>There are different brands manufacturing IVC and also there are multiple options like permanent filter and temporary one. But all the filters tend to have severe effects.
                                                        Puncturing the blood veins and vessels
                                                        Complex removal process
                                                        Migration to other organ causing blockage
                                                        Perforated vital organs
                                                        Fracture in the filter
                                                        There are fair chances that IVC filter breaks into pieces with time. Some of these tiny pieces are so small and sharp that they travel with the blood and damage the lungs and heart. In case IVC filter migrates to the heart, results can be fatal and can lead to death.</p>


                                                        <b>Why Choose Us?</b>

                                                        <p>After these side effects came to the limelight, Bard (the manufacturer of IVC filter) chose to hide this from medical organizations and FDA, which made the sufferers to file a claim against Bard.

                                                            Get Your Attorney has the required expertise to determine the worth of your case; we are more than happy to talk to you about the case while moving forward to filing a lawsuit. If you have suffered from side effects of IVC filter then you are eligible to reimburse all the medical bills and future treatment charges.
                                                            
                                                            We will also help you get the complete compensation of the lost wages and the time you were off duty for the treatment. In addition to this, our attorneys assist you in collecting an additional amount for the suffering and pain you and your loved ones borne due to IVC filters.
                                                            
                                                            </p>

                                            </div>
                                        </div>
                                    </div>
                       </div>
              <!--Our Single-->
              <div class="blog-single" *ngIf="name=='LEADGENERATION'">
        <div class="inner-box">
                        <div class="image">
                            <img src="../../../assets/images/resource/news-1.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <!-- <ul class="post-meta">
                                <li><span class="icon fa fa-user"></span>Roger Jenina</li>
                                <li><span class="icon fa fa-folder"></span>Email Marketing</li>
                            </ul> -->
                            <h3>LEAD GENERATION</h3>
                            <div class="text">
                                <p><b>WHAT IS LEAD GENERATION?</b></p>
                                <p >Lead generation describes the marketing process of stimulating and capturing interest in a product or service for the purpose of developing sales pipeline.
                                  </p>
                                  <p>Lead generation often uses digital channels, and has been undergoing substantial changes in recent years from the rise of new online and social techniques. In particular, the abundance of information readily available online has led to the rise of the “self-directed buyer” and the emergence of new techniques to develop and qualify potential leads before passing them to sales. </p>


                                  <p><b>WHY IS LEAD GENERATION IMPORTANT?</b></p>
                                <p >The buying process has changed, and marketers need to find new ways to reach buyers and get heard through the noise.  Instead of finding customers with mass advertising and email blasts, marketers must now focus on being found and learn to build continuous relationships with buyers.
                                  </p>
                                
                            </div>
                        </div>
                    </div>
                    
               
                    
                    
                </div>
                <div class="blog-single" *ngIf="name=='TELEMARKETING'">
                  <div class="inner-box">
                                  <div class="image">
                                      <img src="../../../assets/images/resource/news-2.jpg" alt="" />
                                  </div>
                                  <div class="lower-content">
                                      
                                      <h3>TELEMARKETING SERVICES</h3>
                                      <div class="text">
                                          <p >Telemarketing is a marketing strategy that involves connecting with customers over the telephone or, more recently, through web-based video conferencing. 
                                            </p>
                                            <br>
                                            <p >Telemarketing is one of the most divisive strategies in modern marketing because many organizations have been known to use irritating or unethical practices in telemarketing. One of the most negatively-perceived versions of telemarketing is known as “robo-calling,” a practice that involves using a pre-recorded message delivered through an automatic dialing machine that can contact thousands of people every day. Because of these and other unpopular methods, there are many government regulations of telemarketing in several countries throughout the world.
                                    
                                              </p>
                                              <br>
                                              <p >Telemarketing can help a wide variety of organizations achieve improved results in different ways. Though the most obvious form of telemarketing involves company calls to individuals at home to pitch them products, telemarketing is also a significant strategy in business-to-business sales, event promotion, political campaigning, and lead generation for more sophisticated sales procedures.
                                                </p>
                                                <br>
                                                <p >Companies that wish to promote an event that appeals to a specific demographic can also use telemarketing to reach potential participants. For instance, a company that organizes continuing education conferences for dentists could use telemarketing to contact a large number of dental practices to raise awareness about an upcoming conference, and encourage the dentists to attend.
                                                  </p>
                                                  <br>
                                                  <p >Telemarketing can be used to achieve several different business goals, including:</p>
                                                     <p> Selling a product </p>
                                                     <p> Generating leads for a sales team </p>
                                                     <p> Conducting surveys and collecting consumer data </p>
                                                     <p> Maintaining contact with existing customers or encouraging previous customers to return.</p>
                                      </div>
                                  </div>
                              </div>
                 </div>



                 <div class="blog-single" *ngIf="name=='B2BLEADGENERATION'">
                    <div class="inner-box">
                                    <div class="image">
                                        <img src="../../../assets/images/resource/news-3.jpg" alt="" />
                                    </div>
                                    <div class="lower-content">
                                        
                                        <h3>B2B LEAD GENERATION & CONTENT SYNDICATION</h3>
                                        <div class="text">
                                            <p >Content syndication would be one of the most best & effective practice to leverage your investment in white papers, Webcasts, Seminars, case studies, analyst reports by making those documents instantly available to billions of technology buyers looking for information or solution related to business problem that your product solves. We promote your whitepapers or webinar/event invitations to prospects who have expressed their interest in you. Our team of experienced Lead Generation Professionals delineate that match your specifications and target the key decision makers.</p>

                                            <div class="row about-us-text">
                                                <div class="col-md-12">
                                                  <p><b>How we make it work: </b></p>
                                                  <p >After discussing your needs and demands, we create our custom content syndication plan.</p>
                                                  <p >We negotiate for the lowest CPL possible according to your desired lead qualifications.</p>
                                                  <p >After our discussion on the content you would like us to share with your clients, we place the content on your behalf.</p>
                                                  <p >Once we score all the leads, we verify them with the help of our Lead Generation Quality Analysts, format them and send them across through email or even upload them directly on your CRM.</p>
                                                  <p >We constantly monitor the campaign and make the necessary changes needed and also resolve any vendor issues.</p>
                                                  <p >In the end, we send you a detailed lead summary audit and also incorporate lead conversion, if possible.</p>
                                <p>America's Marketing & Media Solutions LLC Cloud Solutions LLC understands the demands sales organizations put on B2B marketers: delivering high quality leads at a cost that maximizes your demand generation ROI. Our extensive experience in this space has lead us to develop solutions that solve this problem. By leveraging your content and exposing it to the largest network available with an expansive audience of many markets, we empower you in your lead generation efforts with content syndication services.
                                  </p>
                                                </div>
                                              </div>	<!-- row -->
                                              <br>
                                              <div class="row about-us-text">
                                                  <div class="col-md-12">
                                                    <p><b>A REACH LIKE NO OTHER</b></p>
                                                    <br>
                                                    <p >(15K+ PUBLISHER SITES) Communicate your expertise and brand value through our online publisher partners that focus on reaching more than 300 markets and sub industries.</p>
                                                    <p>(10+DEMAND CHANNELS) Extend your content to more than 10 communication channels that generate the demand needed to find your interested prospects. </p>
                                                  <p>(100M+ VISITORS / MONTH) Reach a potential of more than 100 million unique visitors per month by leveraging our network of lead generation channels.</p>
                                                  </div>
                                                </div>	<!-- row -->
                                              <br>
                                              <div class="row about-us-text">
                                                  <div class="col-md-12">
                                                    <p><b>GET LEADS YOU ACTUALLY WANT</b></p>
                                                    <br>
                                                    <p >Nothing is more painful than investing marketing dollars on content campaigns that don't generate the quality leads you need. America's Marketing & Media Solutions LLCoffers you two ways to achieve your goals while taking into consideration your budget.</p>
                                
                                                  </div>
                                                </div>	<!-- row -->
                                              <br>
                                              <div class="row about-us-text">
                                                  <div class="col-md-12">
                                                    <p><b>HOW?</b></p>
                                                    <br>
                                                    <p >Our full-service offering, Lead Source, and self-serve content syndication lead generation tool, LeadFlow, leverage the network to produce the leads you actually want. All you need is existing content that offers substantial thought leadership, such as eBooks, whitepapers, case studies, video presentations, infographics and much more.</p>
                                
                                                  </div>
                                                </div>	<!-- row -->
                                              <br>
                                             
                                        </div>
                                    </div>
                                </div>
                   </div>



                   <div class="blog-single" *ngIf="name=='CONTENTMARKETING'">
                      <div class="inner-box">
                                      <div class="image">
                                          <img src="../../../assets/images/resource/news-4.jpg" alt="" />
                                      </div>
                                      <div class="lower-content">
                                          
                                          <h3>CONTENT MARKETING</h3>
                                          <div class="text">
                                              <p >WHITEPAPER’S & E-BOOKS:-  GET YOUR DIGITAL CONTENT TO GENERATE LEADS FOR YOU</p>
                                              <p>America's Marketing & Media Solutions LLC engages with the decision makers through periodic Whitepapers. It’s important to ensure that the Whitepapers reach the right party contact and is read. Hence, America's Marketing & Media Solutions LLC Reps ensure that the White papers are reaching the right contact person through a prior opt-in. This activity includes an opt-in and then a confirmation on the receipt of the said whitepaper.</p>
                                              <p>We can work with your target/named accounts or target a list that is as per your specifications. Contacts however are always profiled role-based for better results of your content marketing campaign.</p>
                                            <br>
                                            <p><b>1. Viewership guaranteed – we use email, newsletter and telephone to ensure your digital asset is viewed
                         </b></p>
                                            <p><b>2. We profile your prospect while disseminating the asset so you understand them better</b></p>
                                            <p><b>3. Opt-In taken while distributing/download trigger</b></p>
                                            <p><b>4. Performance based pricing, so you only pay for downloads and not opt-ins </b></p>
                                          </div>
                                      </div>
                                  </div>
                     </div>


                     <div class="blog-single" *ngIf="name=='PIPELINEDEVELOPMENT'">
                        <div class="inner-box">
                                        <div class="image">
                                            <img src="../../../assets/images/resource/news-5.jpg" alt="" />
                                        </div>
                                        <div class="lower-content">
                                            
                                            <h3>PIPELINE DEVELOPMENT</h3>
                                            <div class="text">
                                                <p><b>ACCELERATE YOUR SALES PIPELINE!</b></p>
                                                <p >Managing and developing the sales pipeline is one of the most important tasks in any sales driven organization. Marketing teams are tasked with generating quality business leads to fill the sales pipeline. Sales teams are tasked with managing the pipeline, acting on leads and closing deals.
                                                </p>
                                                <p>America's Marketing & Media Solutions LLC pipeline development solutions address the entire lead generation life cycle. From acquiring high quality leads, to improving lead data to nurturing these leads, our solutions help simplify the sales process and make your organization more efficient and effective in reaching your target customers.</p>
                                              <br>
                                              <p><b>Lead Verification</b></p>
                                                <p >Realize greater value from your sales and marketing programs by improving the data you rely on. Inaccurate and unreliable contact data wastes money and time. America's Marketing & Media Solutions LLCcan verify your webinar, seminar or other activity to insure your list is accurate.
                                                </p>
                                                <br>
                                                <p><b>High Quality Lead</b></p>
                                                <p >The speed with which you can generate qualify leads dictates how fast you can build a sustainable pipeline. America's Marketing & Media Solutions LLC can qualify your leads and make them more "sales ready" based on your unique criteria. 
                                                </p>
                                              
                                            </div>
                                        </div>
                                    </div>
                       </div>



                       <div class="blog-single" *ngIf="name=='BETTERROI'">
                          <div class="inner-box">
                                          <div class="image">
                                              <img src="../../../assets/images/resource/news-6.jpg" alt="" />
                                          </div>
                                          <div class="lower-content">
                                              
                                              <h3>BETTER ROI WITH PRECISE TARGETING</h3>
                                              <div class="text">
                                                  <p >America's Marketing & Media Solutions LLC AUDIENCE TARGET™ technology uses three layers of sophisticated targeting (Contextual,
                                                      Attribute and Conversion) to pinpoint the right prospects, avoid fraud, stop waste, and deliver results
                                                      </p>
                                              </div>
                                              <div class="row about-us-text">
                                                  <div class="col-md-12">
                                                  <p><b>Contextual Targeting </b></p>
                                                  <br>
                                                  <p >Your content or display ads are shown only on sites related to your target industry. For example, if your white paper is about CRM, then your white paper will be distributed only to CRM-related web properties.</p>
                              
                                                </div>
                                              </div>	<!-- row -->
                                              <br>
                                              
                                              <div class="row about-us-text">
                                                  <div class="col-md-12">
                                                  <p><b>Demographic Targeting</b></p>
                                                  <br>
                                                  <p >If demographic information is known, then your content is shown only to your target demographic. For example, if you're targeting enterprise companies (1000+ employees), then your white paper will skew away from SMB users.</p>
                              
                                                </div>
                                              </div>	<!-- row -->
                                              <br>
                                              
                                              <div class="row about-us-text">
                                                  <div class="col-md-12">
                                                    <p><b>Conversion Targeting</b></p>
                                                    <br>
                                                    <p >Acquiring and converting customers significantly impacts the success of any business. See how America's Marketing & Media Solutions LLCcan complement your current activities and accelerate your sales pipeline.</p>
                                
                                                  </div>
                                                </div>	<!-- row -->
                                              <br>
                                              <div class="row about-us-text">
                                                  <div class="col-md-12">
                                                    <p><b>EXPERTISE</b></p>
                                                    <p><b>Focus on your work. We'll take care of the rest</b></p>
                                                    <br>
                                                    <p >America's Marketing & Media Solutions LLCprovides you with the tools and expertise to achieve your lead generation goals.</p>
                                                    <p>America's Marketing & Media Solutions LLCworks with over 15,000 web properties to make sure your content is read and focused on your target market.</p>
                                                    <p>Whether you want to use America's Marketing & Media Solutions LLC’S full service offering, which includes a dedicated Client Services Rep to assist you with everything from Creative Services to Content Analysis to Best Practices and Post campaign analytics, or whether you want to create your own campaign using America's Marketing & Media Solutions LLC’S sophisticated (yet easy to use) online campaign tool and America's Marketing & Media Solutions LLC’S Best Practices content and Self Service guides, America's Marketing & Media Solutions LLCwill provide you with the tools or service to create a successful lead generation campaign.</p>
                                                  </div>
                                                </div>	<!-- row -->
                                          </div>
                                      </div>
                         </div>



                         <div class="blog-single" *ngIf="name=='APPOINTMENTSETTING'">
                            <div class="inner-box">
                                            <div class="image">
                                                <img src="../../../assets/images/resource/news-7.jpg" alt="" />
                                            </div>
                                            <div class="lower-content">
                                                
                                                <h3>APPOINTMENT SETTING</h3>
                                                <div class="text">
                                                    <div class="row about-us-text">
                                                        <div class="col-md-12">
                                                        <br>
                                                        <p >Conversations are needed in order to develop the relationships and further on to get business. As a B2B sales company, our Appointment Setting Service delivers qualified decision makers to your sales team and avoid the hassle and expense of hiring and training inside sales resources. Let your sales team concentrate on what they do best i.e. closing the deal than wasting their time on finding the prospects. Let us do that for you as that are what we are best at. We at Sales Tactics have our team of professionals who set up confirmed appointments, let that be CXOs, VPs etc. for your sales team and help our clients create pipeline and accelerate revenue. This practice is completely based on your company's product, solutions or services and value propositions.</p>
                                    
                                                      </div>
                                                    </div>	<!-- row -->
                                                    <br>
                                                    <div class="row about-us-text">
                                                        <div class="col-md-12">
                                                        <p><b>How we make it work:</b></p>
                                                        <br>
                                                        <p >After a detailed discussion about your company’s product or services we make a custom sales script.</p>
                                                        <p> We negotiate on our pricing plans according to the number of seats you would like us to appoint on your campaign or a pay per appointment.</p>
                                                        <p> We then train our resources about your company products or services, build a custom database consisting on your key accounts or matching specifications.</p>
                                                        <p> Our goal is then to find the right prospects, separating them from the crowd, create a demand for your product or service and set an appointment.</p>
                                                        <p> This set appointment is then passed on to you once our quality analyst approves it.  </p>
                                                        <p> Next, you have your first call with the prospect on the scheduled date and time. We then follow.</p>
                                                      </div>
                                                    </div>	<!-- row -->
                                                  <br>
                                                  <br>
                                                         <div class="row about-us-text">
                                                        <div class="col-md-12">
                                                        <p><b>EVENT REGISTRATION & CONFRIMATION</b></p>
                                                        <br>
                                                        <p >Have problem promoting a corporate event/conference? We spread awareness, generate a demand amongst prospects and invite them to your event. Want more attendees at your booth in a conference? Building a rapport with your clients or prospects is what helps you stay at the back of their mind. We follow up with the attendees from the list you provide us via phone and email and confirm their visit at your booth. Our team of highly experienced telemarketers will call your desired prospects from the key accounts you desire and generate interest among them about your product or service helping you be more visible in the market, hence zeroing in on them.</p>
                                    
                                                      </div>
                                                    </div>	<!-- row -->
                                                    <br>
                                                    <div class="row about-us-text">
                                                        <div class="col-md-12">
                                                        <p><b>ACCOUNT PROFILING</b></p>
                                                        <br>
                                                        <p >Based on our account profile report and contacts discovery lists, we keep your sales management team informed of the right prospects, addressing their business challenges and delivering new business openings allowing them to sell more efficiently and successfully. This Account Profiling Practice gives you the opportunity to gain in depth understanding on how a potential customer operates, how they are structured, who are the key decision makers, their decision making process, who they currently purchase from as well as their future plans. We help you understand your market by analyzing your product. We give you an in depth knowledge of the accounts you can target and every minute detail which would help you close a deal. We take the pain and spoon feed your sales team with prospects who would be the decision makers for their company.</p>
                                    
                                                      </div>
                                                    </div>	<!-- row -->
                                                </div>
                                            </div>
                                        </div>
                           </div>



                         
            </div>
            
         
            
        </div>
    </div>
</div>