
  <!--Main Slider-->

<!--End Main Slider-->

<!--Featured Section-->
<section class="featured-section">
  <div class="auto-container">
      <div class="inner-container clearfix">
          
            <!--Featured Block-->
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="upper-box">
                      <div class="text">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was  complete account system. </div>
                        <a class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                    </div>
                    <div class="lower-box">
                      <div class="lower-inner">
                            <div class="icon-box">
                                <span class="icon"><img src="../../assets/images/icons/featured-icon-1.png" alt="" /></span>
                            </div>
                            <h3><a>Advanced SEO Consultant</a></h3>
                            <div class="title">Big Business, Big Needs</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Featured Block-->
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="upper-box">
                      <div class="text">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was  complete account system. </div>
                        <a class="read-more" ><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                    </div>
                    <div class="lower-box">
                      <div class="lower-inner">
                            <div class="icon-box">
                                <span class="icon"><img src="../../assets/images/icons/featured-icon-2.png" alt="" /></span>
                            </div>
                            <h3><a >Keyword & Market Research</a></h3>
                            <div class="title">Results... On a Budget.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--Featured Block-->
            <div class="featured-block col-md-4 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="upper-box">
                      <div class="text">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was  complete account system. </div>
                        <a class="read-more" ><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                    </div>
                    <div class="lower-box">
                      <div class="lower-inner">
                            <div class="icon-box">
                                <span class="icon"><img src="../../assets/images/icons/featured-icon-3.png" alt="" /></span>
                            </div>
                            <h3><a >Link Building & Promotion</a></h3>
                            <div class="title">Sales, Sales, Sales.</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--End Featured Section-->

<!--Services Section-->
<section class="services-section">
  <div class="auto-container">
      <!--Sec Title-->
        <div class="sec-title centered">
          <h2>Our services</h2>
            <div class="text">We help you generate high-quality online sales leads by implementing highly structured, persuasive Internet marketing campaigns.</div>
        </div>

        <div class="inner-container">
            <div class="clearfix">
                 <!--Featured Block Two-->
                 <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">Xarelto Lawsuits</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/XareltoLawsuits']">Xarelto Lawsuits</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                   <!--Featured Block Two-->
                   <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">Invokana Lawsuits</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/InvokanaLawsuits']">Invokana Lawsuits</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                   <!--Featured Block Two-->
                   <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">IVC Filter Lawsuits</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/IVCLawsuits']">IVC Filter Lawsuits</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                 <!--Featured Block Two-->
                 <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">LEAD GENERATION</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/LEADGENERATION']">LEAD GENERATION</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                 <!--Featured Block Two-->
                 <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-5.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">TELEMARKETING SERVICES</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-5.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/TELEMARKETING']">TELEMARKETING SERVICES</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                 <!--Featured Block Two-->
                 <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-4.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">B2B LEAD GENERATION</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-4.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/B2BLEADGENERATION']">B2B LEAD GENERATION</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                 <!--Featured Block Two-->
                 <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">CONTENT MARKETING</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/CONTENTMARKETING']">CONTENT MARKETING</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                 <!--Featured Block Two-->
                 <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">PIPELINE DEVELOPMENT</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/PIPELINEDEVELOPMENT']">PIPELINE DEVELOPMENT</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                 <!--Featured Block Two-->
                 <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">APPOINTMENT SETTING</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/APPOINTMENTSETTING']">APPOINTMENT SETTING</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Featured Block Two-->
                <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                        </div>
                        <h3 class="captalize">PRECISE TARGETING</h3>
                        <div class="text"></div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                                </div>
                                <h3><a class="captalize" [routerLink]="['/servicedetails/BETTERROI']">PRECISE TARGETING</a></h3>
                            </div>
                        </div>
                    </div>
                </div>


                

                

                  <!--Featured Block Two-->
                  <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box">
                              <span class="icon"><img src="../../assets/images/icons/featured-icon-4.png" alt="" /></span>
                          </div>
                          <h3 class="captalize">Mobile Specialty</h3>
                          <div class="text"></div>
                          <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-icon-box">
                                    <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-4.png" alt="" /></span>
                                  </div>
                                  <h3><a class="captalize">Mobile Specialty</a></h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <!--Featured Block Two-->
                  <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box">
                              <span class="icon"><img src="../../assets/images/icons/featured-icon-5.png" alt="" /></span>
                          </div>
                          <h3 class="captalize">Big Data Analysis</h3>
                          <div class="text"></div>
                          <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-icon-box">
                                    <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-5.png" alt="" /></span>
                                  </div>
                                  <h3><a class="captalize">Big Data Analysis</a></h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <!--Featured Block Two-->
                  <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box">
                              <span class="icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                          </div>
                          <h3 class="captalize">Best Keyword Ranking</h3>
                          <div class="text"></div>
                          <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-icon-box">
                                    <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                                  </div>
                                  <h3><a class="captalize">Best Keyword Ranking</a></h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <!--Featured Block Two-->
                  <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box">
                              <span class="icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                          </div>
                          <h3 class="captalize">Speed Optimization</h3>
                          <div class="text"></div>
                          <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-icon-box">
                                    <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                                  </div>
                                  <h3><a class="captalize">Speed Optimization</a></h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <!--Featured Block Two-->
                  <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box">
                              <span class="icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                          </div>
                          <h3 class="captalize">Better Conversion</h3>
                          <div class="text"></div>
                          <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-icon-box">
                                    <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                                  </div>
                                  <h3><a class="captalize">Better Conversion</a></h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <!--Featured Block Two-->
                  <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                      <div class="inner-box">
                          <div class="icon-box">
                              <span class="icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                          </div>
                          <h3 class="captalize">Network Monitoring</h3>
                          <div class="text"></div>
                          <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-icon-box">
                                    <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                                  </div>
                                  <h3><a class="captalize">Network Monitoring</a></h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
        
        <div class="three-item-carousel owl-carousel owl-theme">
          
            <!--Services Block-->
            <div class="services-block">
              <div class="inner-box">
                  <div class="icon-box">
                      <span class="icon"><img src="../../assets/images/icons/services-1.png" alt="" /></span>
                    </div>
                    <h3><a >Search Engine Optimization</a></h3>
                    <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                    <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                </div>
            </div>
            
            <!--Services Block-->
            <div class="services-block">
              <div class="inner-box">
                  <div class="icon-box">
                      <span class="icon"><img src="../../assets/images/icons/services-2.png" alt="" /></span>
                    </div>
                    <h3><a >Pay Per Click Management</a></h3>
                    <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                    <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                </div>
            </div>
            
            <!--Services Block-->
            <div class="services-block">
              <div class="inner-box">
                  <div class="icon-box">
                      <span class="icon"><img src="../../assets/images/icons/services-3.png" alt="" /></span>
                    </div>
                    <h3><a >Display Advertising</a></h3>
                    <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                    <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                </div>
            </div>
            
            <!--Services Block-->
            <div class="services-block">
              <div class="inner-box">
                  <div class="icon-box">
                      <span class="icon"><img src="../../assets/images/icons/services-1.png" alt="" /></span>
                    </div>
                    <h3><a>Search Engine Optimization</a></h3>
                    <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                    <a class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                </div>
            </div>
            
            <!--Services Block-->
            <div class="services-block">
              <div class="inner-box">
                  <div class="icon-box">
                      <span class="icon"><img src="../../assets/images/icons/services-2.png" alt="" /></span>
                    </div>
                    <h3><a >Pay Per Click Management</a></h3>
                    <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                    <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                </div>
            </div>
            
            <!--Services Block-->
            <div class="services-block">
              <div class="inner-box">
                  <div class="icon-box">
                      <span class="icon"><img src="../../assets/images/icons/services-3.png" alt="" /></span>
                    </div>
                    <h3><a >Display Advertising</a></h3>
                    <div class="text">Explain to you how all this onemistaken idea of denouncing pleasure...</div>
                    <a  class="read-more"><span class="icon flaticon-right-arrow-1"></span> Read More</a>
                </div>
            </div>
            
        </div>
        
    </div>
</section>
<!--End Services Section-->

<!--Score Section-->
<!-- <section class="score-section" style="background-image:url(../../assets/images/background/1.jpg)">
  <div class="auto-container">
        <div class="sec-title centered">
          <h2 style="color:white;">Some Features</h2>
        </div>
        <div class="inner-container">
          <div class="clearfix">
            
                <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-4.png" alt="" /></span>
                        </div>
                        <h3>Mobile Specialty</h3>
                        <div class="text">Far far away, behind the word moun tains, far from the countries.</div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-4.png" alt="" /></span>
                                </div>
                                <h3><a >Mobile Specialty</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-5.png" alt="" /></span>
                        </div>
                        <h3>Big Data Analysis</h3>
                        <div class="text">Far far away, behind the word moun tains, far from the countries.</div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-5.png" alt="" /></span>
                                </div>
                                <h3><a>Big Data Analysis</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                        </div>
                        <h3>Best Keyword Ranking</h3>
                        <div class="text">Far far away, behind the word moun tains, far from the countries.</div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-6.png" alt="" /></span>
                                </div>
                                <h3><a>Best Keyword Ranking</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                        </div>
                        <h3>Speed Optimization</h3>
                        <div class="text">Far far away, behind the word moun tains, far from the countries.</div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-7.png" alt="" /></span>
                                </div>
                                <h3><a>Speed Optimization</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                        </div>
                        <h3>Better Conversion</h3>
                        <div class="text">Far far away, behind the word moun tains, far from the countries.</div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-8.png" alt="" /></span>
                                </div>
                                <h3><a>Better Conversion</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="featured-block-two col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                        </div>
                        <h3>Network Monitoring</h3>
                        <div class="text">Far far away, behind the word moun tains, far from the countries.</div>
                        <div class="overlay-box">
                          <div class="overlay-inner">
                              <div class="overlay-icon-box">
                                  <span class="overlay-icon"><img src="../../assets/images/icons/featured-icon-9.png" alt="" /></span>
                                </div>
                                <h3><a>Network Monitoring</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section> -->
<!--End Score Section-->

<!--Featured Section Two-->
<section class="featured-section-two" style="background-image:url(../../assets/images/background/pattern-2.png)">
  <div class="auto-container">
      <!--Sec Title-->
        <!-- <div class="sec-title centered">
          <h2>Some Features</h2>
        </div> -->
        
    </div>
</section>
<!--End Featured Section Two-->
